<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test suite">
    <test name="Oncelik sirasina gore kosum" >
        <groups>
           <run>
<exclude name="Group B"/>
            </run>
        </groups>
        <classes>
            <class name="TestNG"/>
        </classes>
    </test>   
</suite>