<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test suite">
    <test name="Kac numarali test" >
        <classes>
            <class name="TestNG">
                <methods>
                    <exclude name="test4"/>
                </methods>
            </class>
        </classes>
    </test>   
</suite>